{% extends 'admin/import_export/change_list_import_export.html' %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        .form-inline h3 {
            display: none;
            float: left;
        }

        .form-inline .admindatefilter p {
            display: block;
            float: left;
            margin-right: 25px;
            margin-bottom: 15px;
        }

        .form-inline .admindatefilter .controls {
            display: none;
            float: left;
        }

        .form-inline .form-control search-filter {
            display: inline-block;
            float: left;
        }

        .form-inline {
            float: left;
            display: block;
            width: 100%;
        }

        .form-inline #searchbar {
            margin-right: 5px !important;
            float: left;
        }

        .admindatefilter {
            padding-bottom: 0 !important;
            padding-right: 10px !important;

        }

        .form-inline select {
            display: block;
            margin-right: 20px;
        }


        #content-main .object-tools {
            float: right;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}