{% extends 'admin/change_list.html' %}
{% block extrastyle %}
{{ block.super }}
<style>
    .form-inline {
        float: left;
        display: block;
        width: 100%;
        padding-top: 40px;
    }

    .form-inline #searchbar {
        margin-right: 5px;
        float: left;
    }

    .form-inline h3 {
        display: none;
        float: left;
    }

    .form-inline .admindatefilter p {
        display: block;
        float: left;
        margin-right: 25px;
        margin-bottom: 0;
    }

    .form-inline .admindatefilter {
        padding-bottom: 0 !important;
    }

    .form-inline .admindatefilter .controls{
        display: none;
        float: left;
    }

</style>
{% endblock %}